<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Master Jobs</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mako">
    <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="O blog MasterTech e a Gama Academy ajudam centenas de profissionais a transformarem seus talentos em oportunidades reais de trabalho em startups de todo o Brasil. Quer ajuda para se tornar um profissional do futuro?" />

    <meta name="robots" content="index,follow" />

    <!-- Favicon -->
    <link rel="icon" href="./assets/img/icon-green.ico">
</head>

<body>
    <header>
        <div class="menu">
            <div class="container">
                <div class="logo">
                    <img src="./assets/img/logo-tech-white.png">
                </div>
                <div class="links hidden-xs hidden-sm">
                    <ul>
                        <!--<li><a id="inscrevase" href="#upgradecarreira" class="active">UPGRADE DE CARREIRA</a></li>-->
                        <li><a id="depoimentos" href="#depoimentos">DEPOIMENTOS</a></li>
                        <li><a>BLOG</a></li>
                        <li><a id="contato" href="#contato">CONTATO</a></li>
                        <li>
                            <button class="btn btn-want-upgrade">QUERO UM UPGRADE NA CARREIRA</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="logo-main">
            <img src="./assets/img/logo-white.png">
        </div>
        <div class="title">
            MASTERJOBS
        </div>
        <div class="sub-title">
            Seja um profissional do futuro
        </div>

        <div class="count-remaining">
            <div class="counter">
                <span id="time-remaining"></span>
            </div>
            <div class="remaining">
                <div class="remaining-left"><img src="./assets/img/hilight_left.png"></div>
                <div class="remaining-mid">AINDA DÁ TEMPO</div>
                <div class="remaining-right"><img src="./assets/img/hilight_right.png"></div>
            </div>
            <br/>
        </div>
        <button class="btn" id="subscribe-open">INSCRIÇÕES ABERTAS</button>
        <br/><br/>
        <div class="scrollhover">
            <img src="./assets/img/scrollhover.gif">
        </div>
    </header>

    <section class="upgrade-stacks">
        <div class="container">
            <h1>
                DÊ UM UPGRADE DE CARREIRA
                <br/>NO MERCADO DIGITAL!
            </h1>
            <div class="sub-title">
                Somos o Maior Programa de Seleção e
                <br/>Capacitação de Taletos do Mercado Digital
            </div>
            <div class="triangles">
                ▼▼▼
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6 stack">
                    <div class="icon">
                        <img src="./assets/img/stack-hacker2.png">
                    </div>
                    <div class="description">
                        <div class="title">
                            PROGRAMAÇÃO
                        </div>
                        <div class="zigzag">
                            <img src="./assets/img/zig-zag.png">
                        </div>
                        <div class="area">
                            <ul>
                                <li>Web Developer</li>
                                <li>iOS Developer</li>
                                <li>Android Developer</li>
                                <li>Data Science</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6 stack">
                    <div class="icon">
                        <img src="./assets/img/stack-hipster2.png">
                    </div>
                    <div class="description">
                        <div class="title">
                            DESIGN
                        </div>
                        <div class="zigzag">
                            <img src="./assets/img/zig-zag.png">
                        </div>
                        <div class="area">
                            <ul>
                                <li>Web Developer</li>
                                <li>iOS Developer</li>
                                <li>Android Developer</li>
                                <li>Data Science</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6 stack">
                    <div class="icon">
                        <img src="./assets/img/stack-hustler2.png">
                    </div>
                    <div class="description">
                        <div class="title">
                            VENDAS
                        </div>
                        <div class="zigzag">
                            <img src="./assets/img/zig-zag.png">
                        </div>
                        <div class="area">
                            <ul>
                                <li>Web Developer</li>
                                <li>iOS Developer</li>
                                <li>Android Developer</li>
                                <li>Data Science</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6 stack">
                    <div class="icon">
                        <img src="./assets/img/stack-hyper2.png">
                    </div>
                    <div class="description">
                        <div class="title">
                            MARKETING
                        </div>
                        <div class="zigzag">
                            <img src="./assets/img/zig-zag.png">
                        </div>
                        <div class="area">
                            <ul>
                                <li>Web Developer</li>
                                <li>iOS Developer</li>
                                <li>Android Developer</li>
                                <li>Data Science</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br/><br/><br/>
            <button class="btn" id="apply-subscribe">FAZER INSCRIÇÃO</button>
            <br/><br/><br/>
        </div>
    </section>

    <section class="student-testimonials">
        <div class="container">
            <h1>DEPOIMENTOS DOS ALUNO</h1>
            <div class="sub-title">
                Transformamos Talentos e Conectamos esses profisionais a
                <br/>oportunidades Reais de Trabalho nas Maiores Startups e
                <br/> Empresas de Tecnologias do País.
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="box-testimonials">
                        <div class="description-testimonials">
                            "Participei do Gama Experience em São Paulo e foi uma experiência incrível por diversos motivos! Pude aprender muito sobre teoria e conceitos de mercado, mas isso qualquer curso ou livro pode ensinar... Fazer parte do programa me ensinou e me deu as ferramentas necessárias para fazer a diferença, seja em empresas, seja na vida das pessoas! Hoje me sinto muito capaz e com a motivação necessária para isso! Valeu Gama!!"
                        </div>
                        <div class="profile-testimonials vcenter">
                            <div class="profile-image">
                                <img data-toggle="tooltip" data-placement="left" title="Caio Ayrosa" src="http://s3-us-west-2.amazonaws.com/gama-cdn/gama-site/testimonies/photos/caio-ayrosa.png?1486052256">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="box-testimonials">
                        <div class="profile-testimonials vcenter">
                            <div class="profile-image">
                                <img data-toggle="tooltip" data-placement="right" title="Nathália Leandro" src="http://s3-us-west-2.amazonaws.com/gama-cdn/gama-site/testimonies/photos/nathalia-leandro.png?1486052256">
                            </div>
                        </div>
                        <div class="description-testimonials">
                            "Foi a experiência de preparação profissional mais incrível que eu já tive. Nem a graduação e a pós-graduação me proporcionaram
                            tanto conhecimento em tão pouco tempo. Aprender com os melhores profissionais os conceitos mais
                            recentes de Marketing nos levou à outro nível de competitividade profissional. Os assignments
                            nos prepararam de fato para a realidade do mercado. Realizei o sonho de ser contratada por uma
                            startup (a melhor!), Tracksale, e torço para que esse projeto continue transformando a vida de
                            muitos jovens que querem sair da zona de conforto."
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="box-testimonials">
                        <div class="description-testimonials">
                            "Treinamento intensivo e absurdamente transformador! É preciso saber trabalhar em grupo e sob pressão. Colocamos em prática
                            os temas que eram abordados durante os assignments! Desenvolvemos hard skills e soft skills!
                            Aprendemos muito com os CEOs de startups que estão crescendo. Conhecemos muitas pessoas boas,
                            engajadas e super empenhadas em dar o melhor de si! É uma oportunidade de mudança e crescimento
                            de carreira! Muito obrigada Gama!"
                        </div>
                        <div class="profile-testimonials vcenter">
                            <div class="profile-image">
                                <img data-toggle="tooltip" data-placement="left" title="Aline Mie" src="http://s3-us-west-2.amazonaws.com/gama-cdn/gama-site/testimonies/photos/aline-mie.png?1486052255">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><br/>
        <button class="btn" id="want-work-startup">QUERO TRABALHAR EM UMA STARTUP</button>
        <br/><br/><br/>
        </div>
    </section>

    <footer>
        <div class="newsletter">
            <div class="container">
                <div class="title">
                    Quer receber mais conteúdos brilhantes como esses?
                </div>
                <div class="sub-title">
                    Cadastre-se para receber os nosso conteúdos por email e seja um membro da Comunidade Gama Experience!
                </div>
                <div class="form">
                    <form id="subscribe">
                        <input type="text" name="name" id="name" placeholder="Informe seu nome">
                        <input type="email" name="email" id="email" placeholder="Informe seu email">
                        <button class="btn">ENVIAR</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-lg-8 logo-master-gama">
                    <div class="col-xs-6">
                        <img src="./assets/img/logo.png" class="logo">
                    </div>
                    <div class="col-xs-6" >
                        <img src="./assets/img/logo-gama.png" class="logo">
                    </div>
                    <div class="col-xs-12">
                        O blog MasterTech e a Gama Academy ajudam centenas de profissionais a transformarem seus talentos em oportunidades reais
                        de trabalho em startups de todo o Brasil. Quer ajuda para se tornar um profissional do futuro? <b>Nós queremos ajudar você!</b>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4 box-category">
                    <div class="col-xs-6 box-category">
                        <div class="title-category">
                            Categorias do Blog
                        </div>
                        <ul>
                            <li><a>Programadores</a></li>
                            <li><a>Designers</a></li>
                            <li><a>Marketing</a></li>
                            <li><a>Vendas</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 box-materials">
                        <div class="title-materials">
                            Materiais do Gama
                        </div>
                        <ul>
                            <li><a>Ebooks</a></li>
                            <li><a>Artigos Especializados</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            © Gama Academy 2017 - Todos os direitos reservados
        </div>
    </footer>

    <script type="text/javascript" src="./libs/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./libs/jquery/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="./libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./assets/js/main.js"></script>
</body>

</html>