html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
    transition: all .2s ease-out;
    color:  #54c000;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    transition: all .2s ease-out;
}

a:active {
    text-decoration: none;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background-color:  #e91d64;
    padding: 10px 20px 10px 20px;
    border: 0px;
    /*border-bottom: 4px solid #460819;*/
    box-shadow: 0 4px #460819;
    border-radius: 4px;
    transition: all .2s ease-out;
}

.btn:hover {
    color: #460819;
    transition: all .2s ease-out;
}

.btn:active {
    /*border-bottom: 1px solid #460819;*/
    box-shadow: 0 1px #460819;
    transform: translateY(4px);
}

header {
    text-align: center;
    top: 0;
    bottom: 0;
    width: 100%;
    background: url('../img/header2.jpg') no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 570px;
}

header .menu {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    position: fixed;
    z-index: 9999;
    transition: all .2s ease-out;
}

header .menu .container{
    color: #fff;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 992px){
    header .menu .logo img {
        width: 200px;
        float: left;
        margin-top: 7px;
        /*font-family: 'Montserrat', sans-serif; 
        text-align: left;
        font-weight: 900;
        text-shadow: 2px 2px 0px #2d6245;*/
    }
}

@media screen and (max-width: 991px){
    header .menu .logo img {
        width: 200px;
        margin: 7px auto 0 auto ;
    }
}

header .menu ul {
    padding: 4px 0 0 60px;
    margin:0px;
    list-style:none;
}
header .menu ul li {
    display: inline;
    padding: 0 13px 0 13px;
}

header .menu .links {
    float: left;
}

header .menu .links a {
    color: #fff;
    position: relative;
    text-shadow: 2px 2px 0px #2d6245;
}

header .menu .links ul li a:before {
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0px;
    height: 2px;
    width: 0%;
    background-color: #06fa9f;
    transition: width 0.5s ease-in-out;
}

header .menu .links ul li a:hover:before {
    width: 100%;
}

header .menu .links ul li a:focus:before {
    width: 100%;
}

header .menu .links .active:before {
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background-color: #06fa9f;
    transition: width 0.8s ease-in-out;
}

header .menu .btn-want-upgrade {
    font-size: 12px
}

header .logo-main {
    margin-top: 80px;
}

header .logo-main img {
    height: 100px;
}

header .title
{
    font-family: 'Montserrat', sans-serif;
    /*padding-top: 10px;*/
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0px #2d6245;
}

header .sub-title
{
    font-family: 'Mako', sans-serif;
    margin-top: -20px;
    font-size: 27px;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 0px #2d6245;
}

header .count-remaining .counter {
    font-family: 'Montserrat', sans-serif;
    color: #06fa9f;
    text-shadow: 2px 2px 0px #2d6245;
}

@media screen and (min-width: 992px){
    header .count-remaining .counter {
        font-size: 70px;
    }
}

@media screen and (max-width: 991px){
    header .count-remaining .counter {
        font-size: 40px;
    }
}

header .count-remaining .remaining {
    color: #2d6245;
    display: table;
    margin: 0 auto;
    text-align: center;
}

header .count-remaining .remaining .remaining-mid {
    background-color: #06fa9f;
    padding: 0px 10px 0px 10px;
    font-weight: 900;
}

header .count-remaining .remaining div {
    display: table-cell;
}

.scrollhover {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.scrollhover img {
    filter: brightness(0) invert(1);
    height: 50px;
}

.student-testimonials {
    color: #000;
    text-align: center;
    padding: 20px;
    background: url('../img/bg-stacks.jpg');
}

.student-testimonials .container {
    max-width: 700px;
    width: 100%;
}

.student-testimonials h1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.student-testimonials .sub-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
}

.student-testimonials button {
    margin: 0 auto;
    bottom: 0;
}

.box-testimonials {
    margin: 0 auto;
    border: 5px solid #fff;
    display: table;
    margin-bottom: 20px;
}

.box-testimonials .description-testimonials {
    padding: 10px;
    font-style: italic;
    display: table-cell;
}

.box-testimonials .profile-testimonials {
    display: table-cell;
    text-align: center;
    padding: 4px;
}

.box-testimonials .profile-image {

}

.box-testimonials .profile-image img {
    border-radius: 2000px;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
}

.upgrade-stacks {
    text-align: center;
    background: #fff;
    color: #000;
}

.upgrade-stacks .container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.upgrade-stacks h1 {
    color: #06fa9f;
    font-weight: 900;
}

.upgrade-stacks .sub-title {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
}

.upgrade-stacks .triangles {
    font-size: 40px;
}

.upgrade-stacks .stack {
    display: table;
}

.upgrade-stacks .stack ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.upgrade-stacks .stack ul li {
    padding: 5px 0 5px 0;
    font-weight: bold;
}

.upgrade-stacks .stack .icon {
    width: 90px;
    display: table-cell;
    padding: 14px;
}

.upgrade-stacks .stack .icon img {
    width: 100%;
}

.upgrade-stacks .stack .zigzag {
    max-width: 60px;
    width: 60%;
}

.upgrade-stacks .stack .zigzag img {
    width: 100%;
}

.upgrade-stacks .stack .description {
    display: table-cell;
}

.upgrade-stacks .stack .description .title {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.upgrade-stacks .stack .description .area {
    text-align: left;
    width: 100%;
    float:left;
}

footer {

}

footer .newsletter{
    bottom: 0;
    width: 100%;
    height: 254px;
    padding-top: 70px;
    background: url('../img/bg-footer-2.jpg') no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer .container {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

footer .container .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
}

footer .container form {
    margin-top: 20px;
    padding: 0 50px 50px 50px;
}

footer .container input {
    color:#000;
    height: 50px;
    width: 150px;
}

footer .container .btn {
    border-radius: 0;
    box-shadow: 0px 0px;
}

.box-category .title-category,
.box-materials .title-materials {
    color: #666666;
    font-weight: bold;
}

.box-category ul,
.box-materials ul {
    padding: 0px;
    list-style: none;
}

/**/
footer .sub-footer {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}
footer .sub-footer img{
    width: 100%;
}

footer .copyright {
    border-top: 1px solid #cccccc;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/*hacks*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.pallet-colors {
    color: #7ac043; /*GAMA*/
    color: #1af2a0; /*SOBRE O HEADER*/
}

/* MOBILE */
@media screen and (max-width: 767px){
    footer .newsletter {
        height: 294px;
    }
    .sub-footer .logo-master-gama {
        padding-bottom: 20px;
    }
}