html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
    transition: all .2s ease-out;
    color:  #54c000;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    transition: all .2s ease-out;
}

a:active {
    text-decoration: none;
}

.btn-flat {
    border: 1px solid #e91d64;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    width: 100%;
    background: #fff;
    color: #e91d64;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background-color:  #e91d64;
    padding: 10px 20px 10px 20px;
    border: 0px;
    /*border-bottom: 4px solid #460819;*/
    box-shadow: 0 4px #460819;
    border-radius: 4px;
    transition: all .2s ease-out;
}

.btn:hover {
    color: #460819;
    transition: all .2s ease-out;
}

.btn:active {
    /*border-bottom: 1px solid #460819;*/
    box-shadow: 0 1px #460819;
    transform: translateY(4px);
}

header {
    text-align: center;
    top: 0;
    bottom: 0;
    width: 100%;
    background: url('../img/header2.jpg') no-repeat bottom center scroll;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 250px;
}

header .menu {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    position: fixed;
    z-index: 9990;
    transition: all .2s ease-out;
}

header .menu .container{
    color: #fff;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

header .menu ul {
    padding: 4px 0 0 60px;
    margin:0px;
    list-style:none;
}
header .menu ul li {
    display: inline;
    padding: 0 13px 0 13px;
}

header .menu .links {
    float: left;
}

header .menu .links a {
    color: #fff;
    position: relative;
    text-shadow: 2px 2px 0px #2d6245;
}

header .menu .links ul li a:before {
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0px;
    height: 2px;
    width: 0%;
    background-color: #06fa9f;
    transition: width 0.5s ease-in-out;
}

header .menu .links ul li a:hover:before {
    width: 100%;
}

header .menu .links ul li a:focus:before {
    width: 100%;
}

header .menu .links .active:before {
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background-color: #06fa9f;
    transition: width 0.8s ease-in-out;
}

header .menu .btn-want-upgrade {
    font-size: 12px
}

header .logo-main {
    margin-top: 80px;
}

header .logo-main img {
    height: 100px;
}

header .title
{
    font-family: 'Montserrat', sans-serif;
    /*padding-top: 10px;*/
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0px #2d6245;
}

header .sub-title
{
    font-family: 'Mako', sans-serif;
    margin-top: -20px;
    font-size: 27px;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 0px #2d6245;
}

header .sub-title-next-editions
{
    font-family: 'Mako', sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: #fff;
    text-shadow: 2px 2px 0px #2d6245;
}

header .sub-title-cities
{
    font-family: 'Mako', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 0px #2d6245;
}

header .count-remaining .counter {
    font-family: 'Montserrat', sans-serif;
    color: #06fa9f;
    text-shadow: 2px 2px 0px #2d6245;
}

@media screen and (min-width: 992px){
    header .count-remaining .counter {
        font-size: 70px;
    }
}

@media screen and (max-width: 991px){
    header .count-remaining .counter {
        font-size: 40px;
    }
}

header .count-remaining .remaining {
    color: #2d6245;
    display: table;
    margin: 0 auto;
    text-align: center;
}

header .count-remaining .remaining .remaining-mid {
    background-color: #06fa9f;
    padding: 0px 10px 0px 10px;
    font-weight: 900;
}

header .count-remaining .remaining div {
    display: table-cell;
}

.box-work-dream {
    background: #000;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.box-work-dream span {
    font-family: 'Montserrat', sans-serif;
}

.box-work-dream .title {
    color: #e91d64;
    font-size: 18px;
    font-weight: 900;
}


.box-next-editions {
    background: #06fa9f;
    color: #000;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.box-next-editions .btn {
    font-size: 17px;
}

.box-next-editions .title {
    font-weight: 100;
    text-align: left;
}

.box-next-editions ul {
    padding: 0 0 0 0;
    list-style: none;
}

.box-next-editions ul li {
    font-weight: 700;
    text-align: left;
}

footer .newsletter{
    bottom: 0;
    width: 100%;
    height: 254px;
    padding-top: 70px;
    background: url('../img/bg-footer-2.jpg') no-repeat bottom center scroll;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer .container {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

footer .container .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
}

footer .container form {
    margin-top: 20px;
    padding: 0 50px 50px 50px;
}

footer .container input {
    color:#000;
    height: 50px;
    width: 150px;
}

footer .container .btn {
    border-radius: 0;
    box-shadow: 0px 0px;
}

.box-category .title-category,
.box-materials .title-materials {
    color: #666666;
    font-weight: bold;
}

.box-category ul,
.box-materials ul {
    padding: 0px;
    list-style: none;
}

/**/
footer .sub-footer {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}
footer .sub-footer img{
   width: 100%;
}

footer .copyright {
    border-top: 1px solid #cccccc;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/*hacks*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/*modal bootstrap*/
.modal {
    top: 60px;
}

.modal-header {
    background: #e91d64;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.pallet-colors {
    color: #7ac043; /*GAMA*/
    color: #1af2a0; /*SOBRE O HEADER*/
}

/* MOBILE */
@media screen and (max-width: 767px){
    header .menu .logo img {
        width: 200px;
        margin: 7px auto 0 auto ;
    }
    footer .newsletter {
        height: 294px;
    }
    .sub-footer .logo-master-gama {
        padding-bottom: 20px;
    }
    header {
        height: 420px;
    }
}

/*DESKTOP*/
@media screen and (min-width: 992px){
    header .menu .logo img {
        width: 200px;
        float: left;
        margin-top: 7px;
    }
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 991px){
    header {
        height: 270px;
    }
    header .menu .logo img {
        width: 200px;
        margin: 7px auto 0 auto ;
    }
}
.mj-blog {
    
}
.mj-blog .mj-blog-title {
    font-family: 'Montserrat', sans-serif;
    border-left: 2px dashed #06fa9f;
}

.mj-blog .mj-blog-title-description {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 10px 5px 10px;
}

.mj-blog .mj-blog-title-sub-description {
    padding-left: 10px;
}

.mj-blog .mj-blog-sub-content {
    padding: 20px 20px 15px 10px;
    border-bottom: 2px dashed #06fa9f;
}

.mj-blog-pagination {
    margin: 0 auto;
    text-align: center;
}

.mj-blog-pagination .pagination > .active > a {
    background: #1af2a0;
    border-color: #1af2a0;
    color: #fff;
}

.mj-blog-pagination .pagination > li > a {
    color: #1af2a0;
}
#form-apply-inscription {
    text-align: center;
}

#form-apply-inscription span {
    color: #e91d64;
    font-weight: bold;
}
#form-apply-inscription input {
    border: 0px;
    padding: 10px;
    font-size: 15px;
    width: 50%;
    text-align: center;
}

#form-apply-inscription .close{
    opacity: 1.0;
    
}
#form-apply-inscription .close span {
color: #fff;
}


/*.links
{
	margin-top:15px
}

.links ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}
.links ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

.linksul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}*/

.links ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:20%;
	padding:0;
}

.links ul ul li
{
	float:none;
    width:200px;
    text-transform: uppercase;
}

.links ul ul a
{
	line-height:120%;
	padding:10px 15px 0px 15px;
}

.links ul ul ul
{
	top:0;
	left:50%;
}

.links ul li:hover > ul
{
    margin-top: -20px;
	display:block;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9991; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}